p {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 100%;
}

body {
    background-color: #E2C6C6;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    display: inline-block;
    margin-left: 10px;
    line-height: 125%;
    font-weight: 600;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 125%;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 125%;
}

h4 {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 150%;
}

header{
    background-image: url(../images/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 119px;
    color:#E2C6C6; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: baseline;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 30px;
}

.headfoot{
    padding-left: 25px;
}

#header2{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

#hello{
    color: #202020;
    display: flex;
    text-align: left;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#hello-text{
    display: flex;
    flex-direction: column; 
    width: 414px;
}

#back-top{
    color: #202020;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back-top a{
    padding-top: 3%;
    color: #202020;
    text-decoration: none;
}

a .headfoot {
    color: #E2C6C6;
}

a {
    text-decoration: none;
}

#footer2 a {
    color:#202020;
}

footer{
    background-image: url(../images/footer\ pale.png);
    background-size: cover;
    height: 150px;
    color: #202020;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 10%;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.contents{
    margin-top: 5%;  
}

.n-slides {
    width: 70%;
    height: auto;
    margin-top: 2%;

}

.slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

#sp{
    color: #E2C6C6;
}

#tableof {
    color: #202020;
}

@media only screen and (max-width: 600px){

    #hello{
        color: #202020;
        display: flex;
        text-align: left;
        flex-direction: column; 
        justify-content:left;
        height: auto;
        width: 100%;
        align-items: left;
        margin-left: 60px;
        margin-right: 60px;

    }
    
    #hello-text{
        display: flex;
        flex-direction: column; 
    }

    header{
        background-image: url(../images/header.png);
        background-size: cover;
        height: auto;
        color:#E2C6C6; 
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: baseline;
    }

    header ul{
        list-style-type: none;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        align-items: right;
        text-align: right;
    }

}